/* CHART SECTION */
.expense {
  width: 100%;
  background-color: var(--Verypaleorange);
  border-radius: 15px;
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.expense h1.spending {
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 590px) {
  .expense {
    padding: 1rem 1rem 1.5rem;
  }
  .expense h1.spending {
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 520px) {
  .expense h1.spending {
    letter-spacing: 1px;
  }
  .border {
    margin: 1.4rem 0;
  }
}
