@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

:root {
  --Softred: hsl(10, 79%, 65%);
  --Softerred: rgb(236, 119, 95, 0.5);
  --Cyan: hsl(186, 34%, 60%);
  --LightCyan: rgb(118, 181, 188, 0.5);
  --Darkbrown: hsl(25, 47%, 15%);
  --Mediumbrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Verypaleorange: hsl(33, 100%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}
img {
  max-width: 100%;
}
/* APP */
.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Cream);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
}
/*  HEADER  */
.top {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--Softred);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* HEADER TEXT */
.top .text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.top .text h3 {
  color: var(--Cream);
  font-size: 18px;
  font-weight: 400;
}
.top .text p {
  color: var(--Verypaleorange);
  font-weight: 700;
  font-size: 28px;
}
/* HEADER IMAGE */
.top .logo-div {
  width: 70px;
  height: 50px;
}
.logo-div img {
  width: 100%;
  object-fit: cover;
}
/* CHART SECTION */
.expense {
  width: 100%;
  background-color: var(--Verypaleorange);
  border-radius: 15px;
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.expense h1.spending {
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* CHART */
.chart {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* CHART BAR */
.data {
  position: relative;
  width: 14%;
  height: auto;
  text-align: center;
}
/* DAY */
.data .day {
  margin-top: 7px;
  color: var(--Mediumbrown);
}

/* CHART BAR */
.data .bar {
  margin: 2rem auto 0;
  width: 80%;
  background-color: var(--Softred);
  border-radius: 7px;
  cursor: pointer;
}

/* AMOUNT */
.data .amount {
  position: absolute;
  width: 90%;
  /* height: 29px; */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  color: var(--Verypaleorange);
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--Darkbrown);
  /* opacity: 0; */
}

/* HOVER TO CHANGE BGCOLOR */
.data .bar:hover {
  background-color: var(--Softerred);
}
/* CHART BAR + MAX AMOUNT */
.data .bar.max {
  background-color: var(--Cyan);
}
.data .bar.max:hover {
  background-color: var(--LightCyan);
}

/* HOVER TO DISPLAY AMOUNT */
/* .data .bar:hover + .data .amount{
  opacity: 1;
} */

/* LINE DIVIDER */
.border {
  width: 100%;
  height: 2px;
  background-color: var(--Cream);
  margin: 2rem 0;
}
/* FOOTER */
.footer p.txt {
  color: var(--Mediumbrown);
}
/* FOOTER LEFT */
.footer .total-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.total-div h1.total {
  color: var(--Darkbrown);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1;
}
/* FOOTER RIGHT */
.total-div .note {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.note .status {
  font-size: 20px;
  font-weight: 700;
  color: var(--Darkbrown);
}
@media only screen and (max-width: 1330px) {
  .hero {
    width: 45%;
  }
}
@media only screen and (max-width: 1170px) {
  .hero {
    width: 50%;
  }
}
@media only screen and (max-width: 1050px) {
  .hero {
    width: 55%;
  }
}
@media only screen and (max-width: 960px) {
  .hero {
    width: 60%;
  }
}
@media only screen and (max-width: 880px) {
  .hero {
    width: 70%;
  }
}
@media only screen and (max-width: 755px) {
  .hero {
    width: 80%;
  }
}
@media only screen and (max-width: 660px) {
  .hero {
    width: 90%;
  }
}
@media only screen and (max-width: 590px) {
  body {
    font-size: 16px;
  }
  .hero {
    width: 95%;
  }
  .top {
    padding: 1rem;
  }
  .expense {
    padding: 1rem 1rem 1.5rem;
  }
  .data {
    width: 12%;
  }
  .data .bar {
    width: 100%;
  }
  .data .amount {
    width: 94%;
    padding: 5px 2px;
  }
}
@media only screen and (max-width: 520px) {
  body {
    font-size: 14px;
  }
  .app{
    align-items: flex-start;
  }
  .hero{
    margin-top: 4rem;
  }
  .data .amount {
    width: 120%;
    font-size: 13px;
    padding: 5px 1px;
  }
  .total-div h1.total {
    font-size: 30px;
  }
  .border {
    margin: 1.4rem 0;
  }
}
